@import '../mixins.scss';

.pokeApp {
    @include container;
    padding: 1rem;
    .title {
        
        font-size: 4rem;
    }
    .grid {
        margin: 4rem 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}